<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Xitimela - Trens | Gestão de Estação Ferroviaria</title>
    <link rel="icon" th:href="@{favicon.ico}" type="image/x-icon"> <!-- Favicon-->
    <!-- plugin css file  -->
    <link rel="stylesheet" th:href="@{../assets/plugin/datatables/responsive.dataTables.min.css}">
    <link rel="stylesheet" th:href="@{../assets/plugin/datatables/dataTables.bootstrap5.min.css}">
    <!-- project css file  -->
    <link rel="stylesheet" th:href="@{../assets/css/my-task.style.min.css}">
</head>

<body data-mytask="theme-indigo">

    <div id="mytask-layout">

        <!-- sidebar -->
        <div class="sidebar px-4 py-4 py-md-5 me-0">
            <div class="d-flex flex-column h-100">
                <a th:href="@{/admin}" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <svg  width="35" height="35" fill="currentColor" class="bi bi-clipboard-check" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                            <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                        </svg>
                    </span>
                    <span class="logo-text">Xitimela</span>
                </a>
                <!-- Menu: main ul -->
    
                <ul class="menu-list flex-grow-1 mt-3">
                    <li class="collapsed">
                        <a class="m-link " data-bs-toggle="collapse" data-bs-target="#dashboard-Components" href="#">
                            <i class="icofont-home fs-5"></i> <span>Dashboard</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="dashboard-Components">
                            <li><a class="ms-link" th:href="@{/admin}"> <span>Hr Dashboard</span></a></li>
                        </ul>
                    </li>
                    <li  class="collapsed">
                        <a class="m-link"  data-bs-toggle="collapse" data-bs-target="#usuarios-Components" href="#">
                            <i class="icofont-briefcase"></i><span>Usuario</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="usuarios-Components">
                            <li><a class="ms-link" th:href="@{/admin/usuario}"><span>Usuario</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/usuario/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    <li  class="collapsed">
                        <a class="m-link active"  data-bs-toggle="collapse" data-bs-target="#funcionario-Components" href="#">
                            <i class="icofont-briefcase"></i><span>Funcionario</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse show " id="funcionario-Components">
                            <li><a class="ms-link active" th:href="@{/admin/funcionario}"><span>Funcionarios</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/funcionario/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#tren-Components" href="#"><i
                                class="icofont-tram"></i> <span>Train</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="tren-Components">
                            <li><a class="ms-link" th:href="@{/admin/train}"> <span>Trains</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/train/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#estacao-Components" href="#"><i
                                class="icofont-archive"></i> <span>Estação</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="estacao-Components">
                            <li><a class="ms-link" th:href="@{/admin/estacao}"> <span>Estações</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/estacao/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#reserva-Components" href="#"><i
                                class="icofont-ticket"></i> <span>Reserva</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="reserva-Components">
                            <li><a class="ms-link" th:href="@{/admin/reserva}"> <span>Reservas</span></a></li>
                            <!-- <li><a class="ms-link" th:href="@{/admin/reserva/add}"><span>Adicionar</span></a></li> -->
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#rota-Components" href="#"><i
                                class="icofont-map-pins"></i> <span>Rota</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="rota-Components">
                            <li><a class="ms-link" th:href="@{/admin/rota}"> <span>Rotas</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/rota/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#rota-Components" href="#"><i
                                class="icofont-map-pins"></i> <span>horario</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="rota-Components">
                            <li><a class="ms-link" th:href="@{/admin/horario}"> <span>Hoararios</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/horario/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                    <li class="collapsed">
                        <a class="m-link" data-bs-toggle="collapse" data-bs-target="#passageiro-Components" href="#"><i
                                class="icofont-user-male"></i> <span>Passageiro</span> <span class="arrow icofont-dotted-down ms-auto text-end fs-5"></span></a>
                        <!-- Menu: Sub menu ul -->
                        <ul class="sub-menu collapse" id="passageiro-Components">
                            <li><a class="ms-link" th:href="@{/admin/passageiro}"> <span>Passageiros</span></a></li>
                            <li><a class="ms-link" th:href="@{/admin/passageiro/add}"><span>Adicionar</span></a></li>
                        </ul>
                    </li>
                </ul>
    
                
                
                <!-- Menu: menu collepce btn -->
                <a th:href="@{/logout}"  class="btn btn-link sidebar-mini-btn text-light">
                    <span class="ms-2"><i class="icofont-bubble-right"></i></span>
                </a>
            </div>
        </div>

        <!-- main body area -->
        <div class="main px-lg-4 px-md-4">

            <!-- Body: Header -->
            <div class="header">
                <nav class="navbar py-4">
                    <div class="container-xxl">

                        <!-- header rightbar icon -->
                        <div class="h-right d-flex align-items-center mr-5 mr-lg-0 order-1">

                            <div class="dropdown user-profile ml-2 ml-sm-3 d-flex align-items-center">
                                <div class="u-info me-2">
                                    <p class="mb-0 text-end line-height-sm "><span class="font-weight-bold">Edmundo Gove</span></p>
                                    <small>Admin Profile</small>
                                </div>
                                <a class="nav-link dropdown-toggle pulse p-0" href="#" role="button"
                                    data-bs-toggle="dropdown" data-bs-display="static">
                                    <img class="avatar lg rounded-circle img-thumbnail"
                                        src="../assets/images/profile_av.png" alt="profile">
                                </a>
                                <div
                                    class="dropdown-menu rounded-lg shadow border-0 dropdown-animation dropdown-menu-end p-0 m-0">
                                    <div class="card border-0 w280">
                                        <div class="card-body pb-0">
                                            <div class="d-flex py-1">
                                                <img class="avatar rounded-circle" src="../assets/images/profile_av.png"
                                                    alt="profile">
                                                <div class="flex-fill ms-3">
                                                    <p class="mb-0"><span class="font-weight-bold">Dylan Hunter</span>
                                                    </p>
                                                    <small class="">Dylan.hunter@gmail.com</small>
                                                </div>
                                            </div>

                                            <div>
                                                <hr class="dropdown-divider border-dark">
                                            </div>
                                        </div>
                                        <div class="list-group m-2 ">
                                            <a href="#" class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-tasks fs-5 me-3"></i>My Task</a>
                                            <a href="#" class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-ui-user-group fs-6 me-3"></i>members</a>
                                            <a href="#" class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-logout fs-6 me-3"></i>Signout</a>
                                            <div>
                                                <hr class="dropdown-divider border-dark">
                                            </div>
                                            <a href="#" class="list-group-item list-group-item-action border-0 "><i
                                                    class="icofont-contact-add fs-5 me-3"></i>Add personal account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- menu toggler -->
                        <button class="navbar-toggler p-0 border-0 menu-toggle order-3" type="button"
                            data-bs-toggle="collapse" data-bs-target="#mainHeader">
                            <span class="fa fa-bars"></span>
                        </button>

                        <!-- main menu Search-->
                        <div class="order-0 col-lg-4 col-md-4 col-sm-12 col-12 mb-3 mb-md-0 ">
                            <div class="input-group flex-nowrap input-group-lg">
                                <button type="button" class="input-group-text" id="addon-wrapping"><i
                                        class="fa fa-search"></i></button>
                                <input type="search" class="form-control" placeholder="Search" aria-label="search"
                                    aria-describedby="addon-wrapping">
                                <button type="button" class="input-group-text add-member-top" id="addon-wrappingone"
                                    data-bs-toggle="modal" data-bs-target="#addUser"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                    </div>
                </nav>
            </div>

            <!-- Body: Body -->
            <div class="body d-flex py-lg-3 py-md-2">
                <div class="container-xxl">
                    <div class="row align-items-center">
                        <div class="border-0 mb-4">
                            <div
                                class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                                <h3 class="fw-bold mb-0">Funcionarios</h3>
                                <div class="col-auto d-flex w-sm-100">
                                    <a th:href="@{/admin/funcionario/add}" class="btn btn-dark btn-set-task w-sm-100"><i
                                            class="icofont-plus-circle me-2 fs-6"></i>Adicionar Funcionario</a>
                                </div>
                            </div>
                        </div>
                    </div> <!-- Row end  -->
                    <div class="row clearfix g-3">
                        <div class="col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <table id="myProjectTable" class="table table-hover align-middle mb-0"
                                        style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nome</th>
                                                <th>Cargo</th>
                                                <th>Telefone</th>
                                                <th>Estação de Trabalho</th>
                                                <th>Train de Trabalho</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <th:block th:each="func : ${listFuc}">
                                                <tr>
                                                    <td>
                                                        <span class="fw-bold">[[${func.id}]]</span>
                                                    </td>
                                                    <td>
                                                         <!-- <img class="avatar rounded-circle" src="../assets/images/xs/avatar1.jpg" alt="">  -->
                                                        <span class="fw-bold ms-1">[[${func.nome}]]</span>
                                                    </td>
                                                    <td>
                                                        [[${func.cargo}]]
                                                    </td>
                                                    <td>
                                                        [[${func.telefone}]]
                                                    </td>
                                                    <td>
                                                        [[${func.estacao.nome}]]
                                                    </td>
                                                    <td>
                                                        [[${func.train.numeroIdentificacao}]]
                                                    </td>

                                                    <td>
                                                        <div class="btn-group" role="group"
                                                            aria-label="Basic outlined example">
                                                            <a th:href="@{'/admin/funcionario/edit/' + ${func.id}}"
                                                                class="btn btn-outline-secondary"><i
                                                                    class="icofont-edit text-success"></i></a>
                                                            <a href="javascript:void(0)" th:with="id=${func.id}"
                                                                class="btn btn-outline-secondary" data-bs-toggle="modal"
                                                                data-bs-target="#deleteTren"><i
                                                                    class="icofont-ui-delete text-danger"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div><!-- Row End -->
                </div>
            </div>

            <!-- Modal  Delete Folder/ File-->
            <div class="modal fade" id="deleteTren" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title  fw-bold" id="deleteprojectLabel"> Delete item Permanently?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body justify-content-center flex-column d-flex">
                            <i class="icofont-ui-delete text-danger display-2 text-center mt-2"></i>
                            <p class="mt-4 fs-5 text-center">You can only delete this item Permanently</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form th:action="@{'/admin/funcionario/delete/' + ${func.id}}" method="get">
                                <button type="button" class="btn btn-danger color-fff">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>


    </div>

    <!-- start: template setting, and more. -->

    </div>

    <!-- Jquery Core Js -->
    <script th:src="@{../assets/bundles/libscripts.bundle.js}"></script>

    <!-- Plugin Js-->
    <script th:src="@{../assets/bundles/dataTables.bundle.js}"></script>

    <!-- Jquery Page Js -->
    <script th:src="@{../../js/template.js}"></script>
    <script>
        // project data table
        $(document).ready(function () {
            $('#myProjectTable')
                .addClass('nowrap')
                .dataTable({
                    responsive: true,
                    columnDefs: [
                        { targets: [-1, -3], className: 'dt-body-right' }
                    ]
                });
            $('.deleterow').on('click', function () {
                var tablename = $(this).closest('table').DataTable();
                tablename
                    .row($(this)
                        .parents('tr'))
                    .remove()
                    .draw();

            });
        });
    </script>
</body>

</html>